# Ignore everything
*

# Only keep these directories
!game-project/
!game-project/**
!game-project-v2/
!game-project-v2/**
!jenkins-pipelines/
!jenkins-pipelines/**
!terraform/
!terraform/**

# Keep this .gitignore
!.gitignore

# ===== Common ignores within kept directories =====

# Node.js
node_modules/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log

# Keep manifest files
!manifest-file/
!manifest-file/**

# Readme files
!README.md
